<!DOCTYPE html>
<html>
  <head>
  <%= render 'layouts/navigation' %>

    <title>Typingaway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if cookies[:moon] %>
      <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <div class='row'>
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %> '>
          <%= msg %>
        </div>
      <% end %>
    </div>
  </head>

  <body>
    <p class="flash">
      <%= flash.notice %>
    </p>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
